@font-face {
    font-family: mainFont;
    src: url('../fonts/DMSans-Regular.ttf');
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: #161616;
    font-family: mainFont;

}

.app-container {
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    border: 0.5px solid black;
    border-radius: 13px;
    width: 300px;
    height: 350px;
    background-color: #1F1F1F;
    color: #FFFFFF;
}

.upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px 0;
    margin-top: 30px;
}

.uploaded-file-link>a {
    margin-top: 15px;
    color: white;
    text-decoration: none;
}